@model Booking;
@{
    Layout = "_AdminLayout";
}

<style>
    .row {
        font-size: small;
    }

    .table tr .bluetd {
        background-color: royalblue;
        color: white;
    }

    img {
        height: 68px;
        width: 68px;
    }

    h6 {
        color: royalblue;
    }
</style>

<link rel="stylesheet" href="~/css/initiateReturn.css" asp-append-version="true" />


<div class="container mt-2">
    <h6 class="text-dark">Rental Details</h6>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h6>Rental Details</h6>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <strong>Rented Product Image:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.Product.ProductImageUrl" class="rounded-circle" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Product Owner:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.Product.User.ProfilePictureURL" class="rounded-circle" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Booking User:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.User.ProfilePictureURL" class="rounded-circle" />
                    </td>
                </tr>



            </table>
        </div>

        <div class="col-md-6">
            <h6>Booking Details</h6>
            <table class="table table-bordered">
                <tr>
                    <td><strong>Booking ID:</strong></td>
                    <td>@Model.BookingId</td>
                </tr>
                <tr>
                    <td><strong>PredictedStartDate:</strong></td>
                    <td>@Model.RequestStartDate</td>
                </tr>
                <tr>
                    <td><strong>PredictedEndDate:</strong></td>
                    <td>@Model.ActualRequestEndDate</td>
                </tr>

                <tr>
                    <td><strong>Product Name:</strong></td>
                    <td>@Model.Product.ProductName</td>
                </tr>
                <tr>
                    <td><strong>RentedFrom:</strong></td>
                    <td>@Model.Product.User.FirstName</td>
                </tr>
                <tr>
                    <td><strong>RentedTo:</strong></td>
                    <td>@Model.User.FirstName @Model.User.LastName</td>
                </tr>
                <tr>
                    <td><strong>BookingStatus:</strong></td>
                    <td>@Model.BookingStatus</td>
                </tr>
                <tr>
                    <td><strong>PaymentStatus:</strong></td>
                    <td>@Model.PaymentStatus</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h6>Return Details</h6>

            <table class="table table-bordered">
                <tr>
                    <td><strong>RentalStartDate:</strong></td>
                    <td>@Model.ActualRequestStartDate</td>
                </tr>
                <tr>
                    <td><strong>RentalEndDate:</strong></td>
                    <td>@Model.ActualRequestEndDate</td>
                </tr>

                <tr>
                    <td><strong>InitialTotalAmount:</strong></td>
                    <td>@Model.InitialTotalAmount</td>
                </tr>
                <tr>
                    <td><strong>ActualTotalAmount:</strong></td>
                    <td>@Model.ActualTotalAmountWithoutFine</td>
                </tr>
                <tr>
                    <td><strong>InitialAmountPaid:</strong></td>
                    <td>@Model.InitialAmountPaid</td>
                </tr>
                <tr>
                    <td><strong>FineAmount:</strong></td>
                    <td>@Model.FineAmount</td>
                </tr>
                <tr>
                    <td><strong>TotalAmountAfterFine:</strong></td>
                    <td>@Model.TotalAmountAfterFine</td>
                </tr>
                <tr>
                    <td><strong>RemainingAmountToPay:</strong></td>
                    <td>@Model.RemainingAmountToPayAfterFine</td>
                </tr>
                <tr>
                    <td><strong>RemainingAmountPaid:</strong></td>
                    <td>@Model.RemainingAmountPaid</td>
                </tr>
            </table>
        </div>

        @if (Model.DamagedImageUrl != null)
        {
            <div class="col-md-6">
                <h6>Damaged Details</h6>

                <table class="table table-bordered">
                    <tr>
                        <td>
                            <strong>DamageDescription:</strong><br />
                        </td>
                        <td>
                            <p>@Model.DamageDescription</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>DamageFine:</strong><br />
                        </td>
                        <td>
                            <p>@Model.FineAmount</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>DamagedParts:</strong><br />
                        </td>
                        <td>
                            <img src="~/@Model.User.ProfilePictureURL" height="60px" width="60px" class="rounded-circle" />
                        </td>
                    </tr>
                </table>

            </div>
        }

    </div>
</div>


@*  <div class="row">
    <h6>User & Product Images</h6>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>ProductImage</th>
    <th>ProductOwner</th>
    <th>BookingUser</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>
    <img src="~/@Model.Product.ProductImageUrl" height="50px" width="50px" class="rounded-circle" />
    </td>
    <td>
    <img src="~/@Model.Product.User.ProfilePictureURL" height="50px" width="50px" class="rounded-circle" />
    </td>
    <td>
    <img src="~/@Model.Product.User.ProfilePictureURL" height="50px" width="50px" class="rounded-circle" />
    </td>
    </tr>
    </tbody>
    </table>

    <h6>Booking Details</h6>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>BookingId</th>
    <th>PredictedStartDate</th>
    <th>PredictedEndtDate</th>
    <th>ProductName</th>
    <th>RentedFrom</th>
    <th>BookingStatus</th>
    <th>PaymentStatus</th>
    <th>MachineImage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>@Model.BookingId</td>
    <td>@Model.RequestStartDate</td>
    <td>@Model.RequestEndDate</td>
    <td>@Model.Product.ProductName</td>
    <td>@Model.Product.User.FirstName</td>
    <td>@Model.BookingStatus</td>
    <td>@Model.PaymentStatus</td>
    <td><img src="~/@Model.Product.ProductImageUrl" height="30px" width="70px" class="rounded-circle" /></td>
    </tr>
    </tbody>
    </table>

    <h6>Return Details</h6>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>RentalStartDate</th>
    <th>RentalEndDate</th>
    <th>InitialTotalAmount</th>
    <th>ActualTotalAmount</th>
    <th>InitialAmountPaid</th>
    <th>FineAmount</th>
    <th>TotalAmountAfterFine</th>
    <th>RemainingAmountToPay</th>
    <th>RemainingAmountPaid</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>@Model.ActualRequestStartDate</td>
    <td>@Model.ActualRequestEndDate</td>
    <td>@Model.InitialTotalAmount</td>
    <td>@Model.ActualTotalAmountWithoutFine</td>
    <td>@Model.InitialAmountPaid</td>
    <td>@Model.FineAmount</td>
    <td>@Model.TotalAmountAfterFine</td>
    <td>@Model.RemainingAmountToPayAfterFine</td>
    <td>@Model.RemainingAmountPaid</td>
    </tr>
    </tbody>
    </table>

    <h6>Damage Details</h6>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>DamageDescription</th>
    <th>DamageImage</th>
    <th>DamageFine</th>

    </tr>
    </thead>
    <tbody>
    <tr>
    <td><input class="w-50  " asp-for="DamageDescription" disabled /></td>
    <td>
    @if (Model.DamagedImageUrl != null)
    {
    <img src="~/@Model.DamagedImageUrl" height="100px" width="300px" />
    }
    else
    {
    <p>No pictures avaialble of damages!</p>
    }
    </td>
    <td>DamageFine</td>

    </tr>
    </tbody>
    </table>
    </div> *@
