@model Booking;
@{
    Layout = "_AdminLayout";
}

<style>
    .row {
        /* font-size: medium; */
    }

    .table tr .bluetd {
        background-color: royalblue;
        color: white;
    }

    img {
        height: 68px;
        width: 68px;
    }

    h6 {
        color: royalblue;
    }
</style>

<link rel="stylesheet" href="~/css/initiateReturn.css" asp-append-version="true" />

<div class="ms-3 mt-0 d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>Rental Details</h6>
    </div>

    <div class="text-end gap-0 mb-2">
        <a class="btn btn-sm btn-primary" asp-action="BookingList"><i class="bi bi-arrow-90deg-left"></i></a>
    </div>
</div>
<hr class="text-secondary mt-0 pt-0" />

<div class="container mt-2">
    <div class="row bg-light p-2">
        <div class="col-md-6">
            <h6>Rental Details</h6>
            <table class="table table-bordered bg-white">
                <tr>
                    <td>
                        <strong>Rented Product Image:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.Product.ProductImageUrl" class="rounded-circle ms-md-5" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Product Owner:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.Product.User.ProfilePictureURL" class="rounded-circle ms-md-5" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Booking User:</strong><br />
                    </td>
                    <td>
                        <img src="~/@Model.User.ProfilePictureURL" class="rounded-circle ms-md-5" />
                    </td>
                </tr>



            </table>
        </div>

        <div class="col-md-6">
            <h6>Booking Details</h6>
            <table class="table table-bordered bg-white">
                @*    <tr>
                <td><strong>Booking ID:</strong></td>
                <td>@Model.BookingId</td>
                </tr> *@
                <tr>
                    <td><strong>PredictedStartDate:</strong></td>
                    <td>@Model.RequestStartDate</td>
                </tr>
                <tr>
                    <td><strong>PredictedEndDate:</strong></td>
                    <td>@Model.RequestEndDate</td>
                </tr>

                <tr>
                    <td><strong>Product Name:</strong></td>
                    <td>@Model.Product.ProductName</td>
                </tr>
                <tr>
                    <td><strong>RentedFrom:</strong></td>
                    <td>@Model.Product.User.FirstName</td>
                </tr>
                <tr>
                    <td><strong>RentedTo:</strong></td>
                    <td>@Model.User.FirstName @Model.User.LastName</td>
                </tr>
                <tr>
                    <td><strong>BookingStatus:</strong></td>
                    <td>@Model.BookingStatus</td>
                </tr>
                <tr>
                    <td><strong>PaymentStatus:</strong></td>
                    <td>@Model.PaymentStatus</td>
                </tr>
                <tr>
                    <td><strong>RentStatus:</strong></td>
                    <td>@Model.RentStatus</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row bg-light p-2 mt-3">
        <div class="col-md-6">
            <h6>Return Details</h6>

            <table class="table table-bordered bg-white">
                <tr>
                    <td><strong>BookingId:</strong></td>
                    <td>@Model.BookingId</td>
                </tr>
                <tr>
                    <td><strong>RentalStartDate:</strong></td>
                    <td>@Model.ActualRequestStartDate</td>
                </tr>
                <tr>
                    <td><strong>RentalEndDate:</strong></td>
                    <td>@Model.ActualRequestEndDate</td>
                </tr>

                <tr>
                    <td><strong>InitialTotalAmount:</strong></td>
                    <td>@Model.InitialTotalAmount</td>
                </tr>
                <tr>
                    <td><strong>ActualTotalAmount:</strong></td>
                    <td>@Model.ActualTotalAmountWithoutFine</td>
                </tr>
                <tr>
                    <td><strong>InitialAmountPaid:</strong></td>
                    <td>@Model.InitialAmountPaid</td>
                </tr>
                <tr>
                    <td><strong>FineAmount:</strong></td>
                    <td>@Model.FineAmount</td>
                </tr>
                <tr>
                    <td><strong>TotalAmountAfterFine:</strong></td>
                    <td>@Model.TotalAmountAfterFine</td>
                </tr>
                <tr>
                    <td><strong>RemainingAmountToPay:</strong></td>
                    <td>@Model.RemainingAmountToPayAfterFine</td>
                </tr>
                <tr>
                    <td><strong>RemainingAmountPaid:</strong></td>
                    <td>@Model.RemainingAmountPaid</td>
                </tr>
            </table>
        </div>

        <div class="col-md-6">
            <h6>Damaged Details</h6>
            @if (Model.DamagedImageUrl != null)
            {

                <table class="table table-bordered bg-white">
                    <tr>
                        <td>
                            <strong>DamageDescription:</strong><br />
                        </td>
                        <td>
                            <p>@Model.DamageDescription</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>DamageFine:</strong><br />
                        </td>
                        <td>
                            <p>@Model.FineAmount</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>DamagedParts:</strong><br />
                        </td>
                        <td>
                            <img src="~/@Model.User.ProfilePictureURL" height="60px" width="60px" class="rounded-circle" />
                        </td>
                    </tr>
                </table>

            }
            else
            {
                <div>
                    <table class="table table-bordered bg-white">
                        <tr>
                            <td><p>No damages for the selected booking!</p></td>
                        </tr>
                    </table>
                </div>
            }
        </div>

    </div>
</div>

@* user details *@


    <div class="row bg-light p-2">
        <div class="col-md-6">
            <h6>Booking User Details</h6>
            <table class="table table-bordered table-hover bg-white">

                <tr>
                    <td><strong>Name</strong></td>
                    <td>@Model.User.FirstName @Model.User.LastName</td>

                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>@Model.User.Email</td>

                </tr>
                <tr>
                    <td><strong>Phone</strong></td>
                    <td>@Model.User.PhoneNumber</td>

                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>@Model.User.Address</td>

                </tr>
                <tr>
                    <td><strong>Image</strong></td>
                    <td><img src="~/@Model.User.ProfilePictureURL" height="30px" width="30px" class="rounded-circle" /></td>

                </tr>

            </table>
        </div>

        <div class="col-md-6">
            <h6>Seller Information</h6>
            <table class="table table-bordered table-hover bg-white">
                <tr>
                    <td><strong>Name</strong></td>
                    <td>@Model.Product.User.FirstName @Model.Product.User.FirstName @Model.Product.User.LastName</td>

                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>@Model.Product.User.Email</td>

                </tr>
                <tr>
                    <td><strong>Phone</strong></td>
                    <td>@Model.Product.User.PhoneNumber</td>

                </tr>
                <tr>
                    <td><strong>Address</strong></td>
                    <td>@Model.Product.User.Address</td>

                </tr>
                <tr>
                    <td><strong>Image</strong></td>
                    <td><img src="~/@Model.Product.User.ProfilePictureURL" height="30px" width="30px" class="rounded-circle" /></td>

                </tr>

            </table>
        </div>
    </div>
