@model List<Kheti.Models.Booking>
@{
    Layout = "_AdminLayout";
}

<style>
    .table {
        font-size: 12px;
    }
</style>

<div class="container d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>Booking List</h6>
    </div>

    <div class="text-end gap-0 mb-1">
        <div class="dropdown text-end mb-2">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a asp-action="BookingList" asp-route-status="all" class="dropdown-item">all</a></li>
                <li><a asp-action="BookingList" asp-route-status="Pending" class="dropdown-item">pending</a></li>
                <li><a asp-action="BookingList" asp-route-status="approved" class="dropdown-item">approved</a></li>
                <li><a asp-action="BookingList" asp-route-status="confrimend" class="dropdown-item">confirmed</a></li>
                <li><a asp-action="BookingList" asp-route-status="completed" class="dropdown-item">completed</a></li>
                <li><a asp-action="BookingList" asp-route-status="canceled" class="dropdown-item">canceled</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class="text-secondary mt-0 pt-0" />

<div class="container-fluid">
    <table class="table table-bordered table-hover bg-light">
        <thead>
            <tr>
                <th>BookingId</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>BookingStatus</th>
                <th>PaymentStatus</th>
                <th>RentStatus</th>
                <th>TotalPaid</th>
                <th>Fine</th>
                <th>Date</th>
                <th>Actions</th>
             
            </tr>
        </thead>
        <tbody>

            @foreach (var bookings in Model)
            {
                @if (bookings.BookingId != null)
                {
                    <tr>
                        <td>@bookings.BookingId</td>
                        <td title="@bookings.User.FirstName">@bookings.User.FirstName</td>
                        <td title="@bookings.Product.ProductName">@bookings.Product.ProductName</td>
                        <td title="@bookings.ActualRequestStartDate">@bookings.ActualRequestStartDate   </td>
                        <td title="@bookings.ActualRequestEndDate">@bookings.ActualRequestEndDate</td>
                        <td >@bookings.BookingStatus</td>
                        <td >@bookings.PaymentStatus</td>
                        <td >@bookings.RentStatus</td>
                        <td >@bookings.TotalAmountPaid</td>
                        <td >@bookings.FineAmount</td>
                        <td >@bookings.CreatedDate</td>
                        <td>
                            <form asp-action="BookingDetails" asp-controller="Admin">
                                <input type="hidden" name="bookingId" value="@bookings.BookingId" />
                                <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-eye-fill text-white"></i></button>
                            </form>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>