@model List<Kheti.Models.Payment>
@{
    Layout = "_AdminLayout";
}

<style>
    .table th {
        background-color: royalblue;
        color: white;
    }

    .table {
        font-size: x-small;
        border: 1px solid #dddddd;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
</style>

<div class="ms-3 mt-0 d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>Payment List</h6>
    </div>

    <div class="text-end gap-0">
        <form method="get" asp-action="PaymentList" asp-controller="Admin" class="mb-2">
            <input class="search-input" type="text" name="searchInput" placeholder="Search transaction...." />
            <button style="background-color:dodgerblue" type="submit" class="btn btn-sm search-btn text-white"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>
<hr class="text-secondary mt-0 pt-0" />

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>TransactionId</th>
                <th>User</th>
                <th>Email</th>
                <th>Payment</th>
                <th>Amount</th>
                <th>Date</th>
                <th>OrderId</th>
                <th>BookingId</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var payment in Model)
            {
                @if (payment.Id != null)
                {
                    <tr>

                        @{
                            var completeTransactionId = payment.TransactionId as string;
                            var transactionIdToShow = completeTransactionId.Length >= 1 ? $"XXXXX-{completeTransactionId.Substring(completeTransactionId.Length - 5)}" : completeTransactionId;
                        }

                        <td>@transactionIdToShow </td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <p>@payment.User.FirstName @payment.User.LastName</p>
                                @if (payment.User.ProfilePictureURL != null)
                                {
                                    <img src="~/@payment.User.ProfilePictureURL" class="rounded-circle" height="30px" width="30px" />
                                }
                            </div>
                        </td>
                        <td title="@payment.User.UserName">@payment.User.Email </td>
                        <td>@payment.PaymentMethod </td>
                        <td>@payment.Amount</td>
                        <td>@payment.PaymentDate </td>
                        <td>@payment.OrderId </td>
                        <td>@payment.BookingId </td>
                        <td class="d-flex gap-1 justify-content-center">
                            @*  <a class="btn btn-sm btn-primary" asp-action="EditInformation" asp-controller="User" asp-route-id="@orders.OrderId"><i class="bi bi-pencil"></i></a> *@
                            <form asp-action="PaymentDetails" asp-controller="Admin">
                                <input type="hidden" name="bookingId" value="@payment.BookingId" />
                                <input type="hidden" name="orderId" value="@payment.OrderId" />
                                <button class="btn btn-sm btn-primary" type="submit"><i class="bi bi-eye-fill text-white"></i></button>
                            </form>

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>