@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Kheti.Models.QueryForm>
@{
    Layout = "_AdminLayout";
}

<style>

</style>

<div class="container d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>QueryList</h6>      
    </div>

    <div class="text-end gap-0 mb-1">
        <div class="dropdown text-end">
            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a asp-action="QueryList" asp-route-status="all" class="dropdown-item">all</a></li>
                <li><a asp-action="QueryList" asp-route-status="Pending" class="dropdown-item">pending</a></li>
                <li><a asp-action="QueryList" asp-route-status="inProcess" class="dropdown-item">in process</a></li>
                <li><a asp-action="QueryList" asp-route-status="solved" class="dropdown-item">solved</a></li>
            </ul>
        </div>
    </div>
</div>
<hr class="text-secondary mt-0 pt-0" />

<div class="container-fluid">
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Problem</th>
                <th>QueryStatus</th>
                <th>Date</th>
                <th>selectedStatus</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var query in Model)
            {
                <tr>
                    <td title="@query.Title">@query.Title</td>
                    <td title="@query.User.FirstName">@query.User.FirstName</td>
                    <td title="@query.ProblemCategory">@query.ProblemCategory</td>
                    <td title="@query.QueryStatus">@query.QueryStatus</td>
                    <td title="@query.DateCreated">@query.DateCreated</td>
                    <td title="@query.IsSelected">@query.IsSelected</td>
                    <td>
                        <img src="~/@query.ImageUrl" class="ms-md-4 rounded-circle" height="30px" width="30px" />
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>