@model List<Kheti.Models.Report>
@{
    Layout = "_AdminLayout";
}

<style>
    .table th {
        background-color: aliceblue;
    }

    .table {
        font-size: x-small;
        border: 1px solid #dddddd;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
</style>

<div class="container-fluid">
    <h6 class="text-center">Report List</h6>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Issue Type</th>
                <th>Severity Level</th>
                <th>Description</th>
                <th>Report Status</th>
                <th>Contact Email</th>
                <th>Add-Info</th>
                <th>Created At</th>
                <th>Image</th>
                <th>Action</th>
               @*  <th>ProfileImage</th>
                <th>Actions</th> *@
            </tr>
        </thead>
        <tbody>

            @foreach (var report in Model)
            {
                @if (report.Id != null)
                {
                    <tr>
                        <td title="@report.IssueType">@report.IssueType</td>
                        <td title="@report.SeverityLevel">@report.SeverityLevel</td>
                        <td title="@report.Description">@report.Description</td>
                        <td>@report.ReportStatus</td>
                        <td>@report.ContactEmail</td>
                        <td>@report.AdditionalInformation</td>
                        <td>@report.CreatedAt.ToShortDateString()</td>
                        <td>
                            <img src="~/@report.ReportImageUrl" height="30px" width="30px" />
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="EditInformation" asp-controller="User" asp-route-id="@report.Id"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn btn-sm btn-info text-white" asp-action="EditInformation" asp-controller="User" asp-route-id=""><i class="bi bi-shield-x"></i></a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>