@model List<Kheti.Models.Report>
@{
    Layout = "_AdminLayout";
}

<style>
    .table {
        font-size: 12px;
    }
</style>
<div class="ms-3 mt-0 d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>Report  List</h6>
    </div>

    <div class="dropdown text-end">
        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a asp-action="ReportList" asp-route-status="all" class="dropdown-item">all</a></li>
            <li><a asp-action="ReportList" asp-route-status="Pending" class="dropdown-item">pending</a></li>
            <li><a asp-action="ReportList" asp-route-status="Completed" class="dropdown-item">solved</a></li>
        </ul>
    </div>
</div>
<hr class="text-secondary mt-2 pt-0" />

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Issue Type</th>
                <th>Severity Level</th>
                <th>Description</th>
                <th>Report Status</th>
                <th>Contact Email</th>
                <th>Add-Info</th>
                <th>Created At</th>
                <th>Image</th>
                <th>Action</th>
                @*  <th>ProfileImage</th>
                <th>Actions</th> *@
            </tr>
        </thead>
        <tbody>

            @foreach (var report in Model)
            {
                @if (report.Id != null)
                {
                    <tr>
                        <td title="@report.IssueType">@report.IssueType</td>
                        <td title="@report.SeverityLevel">@report.SeverityLevel</td>
                        <td title="@report.Description">@report.Description</td>
                        <td>@report.ReportStatus</td>
                        <td>@report.ContactEmail</td>
                        <td>@report.AdditionalInformation</td>
                        <td>@report.CreatedAt.ToShortDateString()</td>
                        <td>
                            <img src="~/@report.ReportImageUrl" class="rounded-circle" height="30px" width="30px" />
                        </td>
                        @if (report.ReportStatus != StaticDetail.ReportStatusSolved)
                        {
                            <td>
                                <a class="btn btn-sm btn-success" asp-action="MarkReportAsSolved" asp-controller="Admin" asp-route-id="@report.Id"><i class="bi bi-check2-square"></i></a>
                            </td>
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>