@model List<Kheti.Models.KhetiApplicationUser>
@{
    Layout = "_AdminLayout";
}

<style>
    .table th {
        background-color: royalblue;
        color: white;
    }

    .table {
        font-size: x-small;
        border: 1px solid #dddddd;
    }

    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
</style>

<div class="container d-flex align-items-center justify-content-between mb-0 pb-0">
    <div>
        <h6>User List</h6>
    </div>

    <div class="text-end gap-0 mb-1">
        <form method="get" asp-action="UserList" asp-controller="Admin" class="mb-2">
            <input class="search-input" type="text" name="searchInput" placeholder="Search user...." />
            <button style="background-color:dodgerblue" type="submit" class="btn btn-sm search-btn text-white"><i class="bi bi-search"></i></button>
        </form>
    </div>
</div>
<hr class="text-secondary mt-0 pt-0" />

<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>Date</th>
                <th>IsDeleted</th>
                @* <th>ProfileImage</th> *@
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var users in Model)
            {
                @if (users.FirstName != null)
                {
                    <tr>
                        <td title="@users.FirstName">
                            @if (users.ProfilePictureURL != null)
                            {
                                <img src="~/@users.ProfilePictureURL" class="rounded-circle" height="30px" width="30px" />
                            }
                            else
                            {
                                <img src="~/images/defaultimages/defaultuserimage.jpg" class="rounded-circle" height="30px" width="30px" />
                            }
                            @users.FirstName
                        </td>
                        <td title="@users.Email">@users.Email</td>
                        <td>@users.PhoneNumber</td>
                        <td>@users.Address</td>
                        <td>@users.RegistrationDate.ToString("yyyy-MM-dd")</td>
                        <td>@users.IsDeleted</td>
                        @* <td>
                <img src="~/@users.ProfilePictureURL" height="30px" width="30px" />
                </td> *@
                        <td>
                            <a class="btn ms-md-4 btn-sm btn-primary" asp-action="EditUserInformation" asp-controller="Admin" asp-route-id="@users.Id"><i class="bi bi-pencil"></i></a>
                            @if (users.LockoutEnd != null && users.LockoutEnd > DateTime.Now)
                            {
                                <a class="btn btn-sm btn-success text-white" asp-action="UnlockUser" asp-controller="Admin" asp-route-id="@users.Id"><i class="bi bi-unlock-fill"></i></a>
                            }
                            else
                            {
                                <a class="btn btn-sm btn-warning text-white" asp-action="LockUser" asp-controller="Admin" asp-route-id="@users.Id"><i class="bi bi-person-fill-lock"></i></a>
                            }
                            <a class="btn btn-sm btn-danger text-white" asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@users.Id"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>