@model Kheti.ViewModels.OrderVm


<link rel="stylesheet" href="~/css/orderList.css" asp-append-version="true" />

<h5 class="text-center mt-2 text-success">My Orders</h5>
<div class="order-container mt-4">
    <div class="row d-flex justify-content-center ">
        <div class="col-sm-12 col-md-12">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>OrderTotal</th>
                            @* <th>Name</th> *@
                            <th>Date</th>
                            <th>OrderStatus</th>
                            <th>PaymentStatus</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var order in Model.OrderList)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.OrderTotal</td>
                                <td>@order.OrderCreatedDate.ToString("yyyy-MM-dd")</td>
                                <td>@order.OrderStatus</td>
                                <td>@order.PaymentStatus</td>
                                <td class="btn-group d-flex gap-2">
                                    <form id="OrderDetails" method="get" action="@Url.Action("OrderDetails", "Order")">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-sm btn-primary w-100">Details</button>
                                    </form>
                                    <form id="paymentForm" method="post" action="@Url.Action("Pay", "Order")">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-sm btn-danger w-100"><i class="bi bi-x-lg"> Cancel</i></button>
                                    </form>
                                    @if (order.PaymentStatus == StaticDetail.PaymentStatusPending)
                                    {
                                        <form id="paymentForm" method="post" action="@Url.Action("Pay", "Order")">
                                            <input type="hidden" name="orderId" value="@order.OrderId" />
                                            <button type="submit" class="btn btn-sm btn-success w-100">Pay</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
