@model Kheti.ViewModels.OrderVm


<link rel="stylesheet" href="~/css/orderList.css" asp-append-version="true" />

<style>
    .btn-group > .btn, .btn-group-vertical > .btn{
        flex:0 0 auto;
        width:50px;
        border-radius:10px;
    }
</style>

<div class="container mt-1">
    <h5 class="text-center mt-0 text-success">My Orders</h5>
    <div class="dropdown text-end mb-1 mt-0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a asp-action="OrderList" asp-route-status="all" class="dropdown-item">all</a></li>
            <li><a asp-action="OrderList" asp-route-status="Pending" class="dropdown-item">pending</a></li>
            <li><a asp-action="OrderList" asp-route-status="Completed" class="dropdown-item">completed</a></li>
        </ul>
    </div>

    <div class="order-container row d-flex justify-cont ent-center ">
        <div class="col-sm-12 col-md-12">
            <div class="col-12">
                <table class="table table-responsive-sm">
                    <thead>
                        <tr class="text-center">
                            <th>Id</th>
                            <th>OrderTotal</th>
                            <th>Date</th>
                            <th>OrderStatus</th>
                            <th>PaymentStatus</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var order in Model.OrderList)
                        {
                            <tr class="text-center">
                                <td>@order.OrderId</td>
                                <td>@order.OrderTotal</td>
                                <td>@order.OrderCreatedDate.ToString("yyyy-MM-dd")</td>
                                <td class="text-dark">@order.OrderStatus</td>
                                <td class="text-dark">
                                    @order.PaymentStatus
                                    @if (order.PaymentStatus == "Completed")
                                    {
                                        <i class="bi bi-check2-all text-success"></i>
                                    }
                                </td>
                                <td class="btn-group d-flex gap-2">


                                    <form id="OrderDetails" method="get" action="@Url.Action("OrderDetails", "Order")">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-sm btn-primary w-100">Details</button>
                                    </form>
                                    <form method="post" action="@Url.Action("OrderInvoice", "Order")">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-sm btn-info text-white">Invoice</button>
                                    </form>
                                    @if (order.PaymentStatus != StaticDetail.PaymentStatusCompleted)
                                    {
                                        <form id="paymentForm" method="post" action="@Url.Action("CancelOrder", "Order", new { status = ViewData["Status"] })">
                                            <input type="hidden" name="orderId" value="@order.OrderId" />
                                            <input type="hidden" name="status" value="@ViewData["Status"]" />
                                            <button type="submit" class="btn btn-sm btn-danger w-100"><i class="bi bi-x-lg">Cancel</i></button>
                                        </form>
                                       @*  <a asp-action="CancelOrder" class="cancel rounded-2 btn btn-sm btn-danger" asp-route-orderId="@order.OrderId" >Cancel</a> *@
                                    }
                                    @if (order.PaymentStatus == StaticDetail.PaymentStatusPending)
                                    {
                                        <form id="paymentForm" method="post" action="@Url.Action("Pay", "Order")">
                                            <input type="hidden" name="orderId" value="@order.OrderId" />
                                            <button type="submit" class="btn btn-sm btn-success w-100">Pay</button>
                                        </form>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    deletepage = function () {
        location.reload();
    }

    count = function () {
        location.reload();
    }
</script>   