@model Kheti.ViewModels.OrderVm


<link rel="stylesheet" href="~/css/orderList.css" asp-append-version="true" />

<h5 class="text-center mt-2 text-success">My Orders</h5>
<div class="order-container mt-4">
    <div class="row d-flex justify-content-center ">
        <div class="col-sm-12 col-md-12">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>OrderTotal</th>
                            @* <th>Name</th> *@
                            <th>Date</th>
                            <th>OrderStatus</th>
                            <th>PaymentStatus</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var order in Model.OrderList)
                        {
                            <tr>
                                <td>@order.OrderId</td>
                                <td>@order.OrderTotal</td>
                                <td>@order.OrderCreatedDate.ToString("yyyy-MM-dd")</td>
                                <td>@order.OrderStatus</td>
                                <td>@order.PaymentStatus</td>
                                <td class="btn-group d-flex gap-2">
                                    <a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-sm btn-primary">Detail</a>
                                    <a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-sm btn-success">Pay</a>
                                    <form id="paymentForm" method="post" action="@Url.Action("Pay", "Order")">
                                        <input type="hidden" name="orderId" value="@order.OrderId" />
                                        <button type="submit" class="btn btn-sm btn-success">Pay</button>
                                    </form>
                                    <a asp-controller="Order" asp-action="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-sm btn-danger">Cancel</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var khaltiPayButtons = document.querySelectorAll(".khaltiPayButton");
        khaltiPayButtons.forEach(function (button) {
            button.addEventListener("click", function () {
                var orderId = this.getAttribute("data-order-id");
                var amount = this.getAttribute("data-amount");

                // Redirect to Khalti payment URL
                window.location.href = "https://pay.khalti.com/?orderId=" + orderId + "&amount=" + amount;
            });
        });
    });
</script> *@
