@model List<Kheti.Models.Review>

<link rel="stylesheet" href="~/css/ReviewList.css" asp-append-version="true" />

<style>
    .stars-container {
        /* gap:-2px; */
    }

    .rated {
        color: #FFD700;
    }
</style>
<h5 class="text-center text-success">Review Details</h5>

<div class="container review-container extra_small_grey_text_css pt-2">
    @{
        int count = 0;
    }

    @foreach (var review in Model)
    {
        count++;
        <p class="text-success">Item @count</p>
        <div class="review-item d-flex justify-content-between align-items-center mb-3 bg-light text-secondary">
            <img src="~/@review.Product.ProductImageUrl" width="70px" height="70px" />
            <div class="toBeEllipsed">
                <p class="product-name" title="@review.Product.ProductName">@review.Product.ProductName</p>
            </div>
            <p>@review.DateReviewed.ToShortDateString()</p>
            <div class="stars-container mb-3">
                @for (int i = 0; i < review.Rating; i++)
                {
                    <i class="bi bi-star-fill fs-6 m-0 p-0 rated" data-rating="1"></i>
                }
                @for (int i = review.Rating; i < 5; i++)
                {
                    <i class="bi bi-star-fill fs-6 m-0 p-0" data-rating="1"></i>
                }

            </div>
            <div class="toBeEllipsed d-flex align-items-center">
                <p class="customer-Name" title="@review.Comment">@review.Comment</p>
            </div>
        </div>
    }
</div>