@model Booking

@{
    ViewData["Title"] = "Details";
}

<style>

</style>

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />


<form method="post" asp-action="Details">

    <input hidden asp-for="ProductId" />

    <div class="container mt-2 mb-4  justify-content-center align-items-center position-relative">
        <div class="fs-6">
            <a asp-action="Index" class="mt-4 mb-2 text-md-start small_grey_text_css text-decoration-none gap-3"><i class="bi bi-arrow-left pe-2 back-icon"></i>Back To Home</a>
        </div>

        <div class="row mt-2 d-flex gap-5">
            <div class="col-md-5">
                <img src="~/@Model.Product.ProductImageUrl" alt="@Model.Product.ProductName" height="375px" width="100%">
            </div>
            <div class="col-sm-12 col-md-5 small_grey_text_css text d-flex flex-column justify-content-center">
                <h3 class="text-success">@Model.Product.ProductName</h3>
                <p class="small_grey_text_css mb-1">Category: @Model.Product.Category.Name</p>
                @* <p class="small_grey_text_css mb-2">pID: @Model.ProductId</p> *@
                <p class="small_grey_text_css mb-2">Rs @Model.Product.RentalEquipment.RentalPricePerDay per day</p>
                @* <p class="small_grey_text_css mb-2">SellerId: @Model.UserId</p> *@
                <p class="small_grey_text_css mb-2">Average Rating:<span class="fs-6 ms-2 text-success">@ViewData["AverageRating"]</span></p>
                <p class="small_grey_text_css mb-2">Total Rating:<span class="fs-6 ms-2 text-success">@ViewData["TotalRating"]</span></p>
                <p class="small_grey_text_css mb-2">Availability Status: @Model.Product.RentalEquipment.IsAvailable</p>
                <p class="small_grey_text_css mb-2">Terms&Condition: @Model.Product.RentalEquipment.TermsAndCondition</p>
                <p class="small_grey_text_css mb-2">Description: @Model.Product.ProductDescription</p>

                <label class="" for="startDate">Start Date:</label>
                <input class="form-control" asp-for="@Model.RequestStartDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                <label class="" for="endDate">Return Date:</label>
                <input class="form-control" asp-for="@Model.RequestEndDate" type="datetime-local" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />

                <input asp-for="@Model.BookingId" type="hidden" />
                <input asp-for="@Model.ProductId" type="hidden" />
                <input asp-for="@Model.CreatedDate" type="hidden" />


                <div class="">
                    <button type="submit" class="favorite-btn" asp-controller="Customer" asp-action="AddToFavorite" asp-route-ProductId="@Model.ProductId"><i class="favorite-icon fs-3 bi bi-heart-fill m"></i></button>
                </div>
                @if (User.IsInRole(StaticDetail.CustomerRole) || User.IsInRole(StaticDetail.AdminRole))
                {
                    <button type="submit" class="btn btn-success w-100 mt-1">Book Now</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success w-100 mt-5 disabled">Book Now</button>
                }

            </div>
        </div>
        <hr class="text-secondary" />

        @* Reviews Section *@
        <p class="text text-center fw-bold mt-0 text-success mt-4">Product Reviews</p>

        @if (Model.Product.Reviews.Count > 0)
        {
            <div class="row review p-2 bg-light">

                <div class="grey_line"></div>
                @foreach (var reviews in Model.Product.Reviews)
                {
                    <div class="col-md-4 mb-2">
                        <div class="card review-card">
                            <div class="card-body">
                                <div class="d-flex gap-3 align-content-center">
                                    @if (reviews.User?.ProfilePictureURL != null)
                                    {
                                        <img src="~/@reviews.User.ProfilePictureURL" height="60px" width="60px" />
                                        <p class="align-self-center">@reviews.User.FirstName @reviews.User.LastName</p>
                                    }
                                    else
                                    {
                                        <p class="mt-2">No profile picture available</p>
                                    }

                                </div>
                                <div class="stars-container mb-3">
                                    @for (int i = 0; i < reviews.Rating; i++)
                                    {
                                        <i class="bi bi-star-fill fs-6 m-0 p-0 rated" data-rating="1"></i>
                                    }
                                    @for (int i = reviews.Rating; i < 5; i++)
                                    {
                                        <i class="bi bi-star-fill fs-6 m-0 p-0" data-rating="1"></i>
                                    }

                                </div>
                                <p class="card-text ellps">@reviews.Comment</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-center">No Reviews</p>
        }

        <!-- Comment Section -->
        <div class="row comment-section">
            <div class="mt-5">

                @if (User.IsInRole(StaticDetail.CustomerRole))
                {
                    <h6 class="text-success">Leave your questions below</h6>
                }
                else
                {
                    <h3>Comment of users </h3>
                }

                <div id="commentsSection" class="col-12">
                    @Html.Partial("_CommentsPartial", Model.Product.ProductComments)
                </div>
                    
                @if (User.IsInRole(StaticDetail.CustomerRole))
                {
                    <form id="commentForm">
                        <textarea class="p-2" id="commentText" rows="2" cols="50" placeholder="Write a comment..."></textarea><br />
                        <button id="submitComment" class="btn btn-sm purple-background text-white" type="button">Comment</button>
                    </form>
                }
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        // Submit new comment
        $("#submitComment").click(function () {
            var productId = "@Model.ProductId";
            var commentText = $("#commentText").val();

            $.ajax({
                type: "POST",
                url: "/Customer/SubmitProductComment",
                data: { productId: productId, commentText: commentText },
                success: function (result) {
                    $('#commentsSection').html(result);
                    $("#commentText").val("");
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(".submitReply").click(function () {
            var commentId = $(this).siblings(".commentId").val();
            var replyText = $(this).siblings(".replyText").val();

            var clickedButton = $(this);

            $.ajax({
                type: "POST",
                url: "/Customer/SubmitProductReply",
                data: { commentId: commentId, replyText: replyText },
                success: function (result) {
                    $('#replies_' + commentId).html(result);
                    clickedButton.siblings(".replyText").val("");
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>