@model List<Kheti.Models.QueryForm>

<link rel="stylesheet" href="~/css/queryList.css" />
<script src="~/js/queryList.js"></script>

<style>
    .form-select {
        border-radius: 20px;
    }

    .result{
        width:250px;
        display:flex;
        justify-content:center;
        align-self:center;
        background-color:aliceblue;
        border-radius: 20px;
    }
</style>

<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
    <li class="nav-item">
        <a asp-action="QueryList" asp-route-status="All" class="nav-link text-dark status active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">All</a>
    </li>
    <li class="nav-item">
        <a asp-action="QueryList" asp-route-status="Pending" class="nav-link text-dark status active" id="home-tab" data-toggle="tab" role="tab" aria-controls="Pending" aria-selected="true">Pending</a>
    </li>
    <li class="nav-item">
        <a asp-action="QueryList" asp-route-status="In Process" class="nav-link text-dark status active" id="home-tab" data-toggle="tab" role="tab" aria-controls="InProcess" aria-selected="true">InProcess</a>
    </li>
    <li class="nav-item">
        <a asp-action="QueryList" asp-route-status="Solved" class="nav-link text-dark status active" id="home-tab" data-toggle="tab" role="tab" aria-controls="Solved" aria-selected="true">Solved</a>
    </li>
</ul>

<div class="d-flex justify-content-end align-items-center gap-4">
    @* <p class="extra_small_grey_text_css">Sort By:</p> *@
    @* <form id="queryStatusForm" class="mb-3" method="get" asp-action="QueryList">
    <select id="queryStatusFilter" class="form-select w-100" name="status">
    <option>
    @if (TempData["defaultName"] != null)
    {
    <p class="text-end disabled">showing @TempData["defaultName"] queries</p>
    }
    else
    {
    <p>select</p>
    }

    </option>
    <option value="all">All</option>
    <option value="pending">Pending</option>
    <option value="In Process">In Process</option>
    <option value="solved">Solved</option>
    </select>
    </form> *@
</div>

@* <div class="result p-2 mb-1">
    <p class="align-self-center">Showing result for @TempData["defaultName"]</p>
</div> *@

<div class="container">

    <div class="row d-flex justify-content-center">
        @foreach (var query in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <section class="d-flex gap-3">
                            <h5 class="card-title overflow" data-toggle="tooltip" data-placement="top" title="@query.Title">@query.Title</h5>
                            <div class="position-absolute top-0 end-0 mt-2 me-2">

                                @if (query.QueryStatus == StaticDetail.QueryStatusPending)
                                {
                                    <i class="bi bi-shield-fill-x text-danger fs-5"></i>
                                }
                                else if (query.QueryStatus == StaticDetail.QueryStatusInProcess)
                                {
                                    <i class="bi bi-fast-forward-circle-fill text-info fs-5"></i>
                                }
                                else
                                {
                                    <i class="bi bi-check-circle-fill text-success fs-5"></i>
                                }
                            </div>
                        </section>
                        <p class="card-text">Email: @query.Email</p>
                        <p class="card-text">Category: @query.ProblemCategory</p>
                        <p class="card-text">Location: @query.Location</p>

                        <p class="card-text">Created: @GetQueryElapsedTime((DateTime)query.DateCreated)</p>
                        @if (query.UrgencyLevel == "High")
                        {
                            <p style="color:red">Urgency level: @query.UrgencyLevel</p>
                        }
                        else if (query.UrgencyLevel == "Medium")
                        {
                            <p style="color:blue">Urgency level: @query.UrgencyLevel</p>
                        }
                        else
                        {

                            <p style="color:darkcyan">Urgency level: @query.UrgencyLevel</p>
                        }
                        <p style="color:">Query Status: @query.QueryStatus</p>

                        <p style="color:">Is selected: @query.IsSelected</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class=" d-flex gap-2">
                                <a asp-action="QueryDetails" asp-controller="Consultation" asp-route-queryId="@query.Id" class="btn btn-sm purple-background white-text w-100">Details</a>

                                @if (User.IsInRole("Expert") && (query.IsSelected == "false" || query.IsSelected == "0"))
                                {
                                    <a asp-action="MarkQueryAsSelected" asp-controller="Consultation" asp-route-queryId="@query.Id" class="btn btn-sm btn-primary white-text w-100"
                                       data-ajax="true" data-ajax-complete="spotReload">Select</a>

                                }
                                else if (User.IsInRole("Expert") && query.IsSelected == "true")
                                {
                                    <a asp-action="MarkQueryAsSelected" asp-controller="Consultation" asp-route-queryId="@query.Id" class="btn btn-sm btn-success disabled white-text w-100">Selected</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var currentPageUrl = window.location.pathname;
        console.log(currentPageUrl);

        var navLinks = document.querySelectorAll('.nav-link');
        console.log(navLinks);

        navLinks.forEach(function (navLink) {
            var navLinkUrl = navLink.getAttribute('href');
            console.log(navLinkUrl);

            if (currentPageUrl === navLinkUrl) {
                navLink.classList.add('actives');
            }
        });
    });
</script>


@functions {
    public string GetQueryElapsedTime(DateTime creationTime)
    {
        TimeSpan timeDifference = DateTime.Now - creationTime;

        if (timeDifference.TotalDays >= 1)
        {
            string daysText = (int)timeDifference.TotalDays == 1 ? "day" : "days";
            return $"{(int)timeDifference.TotalDays} {daysText} ago";
        }
        else if (timeDifference.TotalHours >= 1)
        {
            string hoursText = (int)timeDifference.TotalHours == 1 ? "hour" : "hours";
            return $"{(int)timeDifference.TotalHours} {hoursText} ago";
        }
        else if (timeDifference.TotalMinutes >= 1)
        {
            string minutesText = (int)timeDifference.TotalMinutes == 1 ? "minute" : "minutes";
            return $"{(int)timeDifference.TotalMinutes} {minutesText} ago";
        }
        else
        {
            return "Just now";
        }
    }
}
