@model IEnumerable<Kheti.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a style="font-size:smaller" class="btn purple-background btn-sm text-white p-2" asp-action="Create">Create New Product</a>
</p>
<table class="table table-bordered text-secondary" style="font-size:smaller;" >
    <thead>
        <tr class="bg-light text-dark">
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="toBeEllipsed">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="toBeEllipsed"> 
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.PrdouctImageUrl)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
          @*   <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td> *@
            <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId"><i class="bi bi-pencil-square"></i></a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Product" asp-route-id="@item.ProductId"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
