@model Kheti.ViewModels.ShoppingCartVM


<link rel="stylesheet" href="~/css/initiateReturn.css" asp-append-version="true" />

<style>
    .row {
        font-size: small;
    }

    .form-group {
        margin-bottom: 10px;
    }

</style>

<div class="container">
    <div class="container row">
        <div class="card p-0">
            <div class="card-header purple-background text-white">
                <h6 class="text-center mb-0">Cart Summary </h6>
            </div>

            <form asp-controller="Cart" asp-action="CartSummary" method="post">
                <input asp-for="Orders.OrderTotal" type="hidden" />
                <input asp-for="Orders.OrderId" type="hidden" />

                <div class="card-body">
                    @* <h6>Booking Information</h6> *@
                    <div class="row">
                        <div class="col-md-4 p-3 rounded-3 bg-light">
                            <h6 class="text-success">Customer Details</h6>
                            <div class="form-group">
                                <label asp-for="@Model.Orders.CustomerName">Name</label>
                                <input class="form-control bg-white" asp-for="@Model.Orders.CustomerName" />
                                <span asp-validation-for="Orders.CustomerName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Orders.phoneNumber">Phone</label>
                                <input class="form-control bg-white" asp-for="@Model.Orders.phoneNumber" />
                                <span asp-validation-for="Orders.phoneNumber"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Orders.User.Email"></label>
                                <input class="form-control bg-white" asp-for="@Model.Orders.User.Email" />
                                <span asp-validation-for="Orders.User.Email"></span>
                            </div>


                            @*  Shipping Details Section  *@
                            <div class="shipping-details text-success mt-4">
                                <h6>Shipping Details</h6>
                                <div class="form-group">
                                    <label asp-for="@Model.Orders.Address"></label>
                                    <input asp-for="@Model.Orders.Address" class="form-control bg-white" placeholder="Shipping Address">
                                    <span asp-validation-for="Orders.Address"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Orders.LocalAddress"></label>
                                    <input class="form-control bg-white" asp-for="@Model.Orders.LocalAddress" />
                                    <span asp-validation-for="Orders.LocalAddress"></span>
                                </div>
                                <div class="shipping-details mt-4">
                                    <h6 class="text-success" style="font-size:small">You can edit your details above!</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="">
                                <h6 class="text-success">Order Details</h6>
                                <table class="table table-bordered table-hover table-responsive-sm">
                                    <thead>
                                        <tr class="text-success bg-li">
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Unit</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ShoppingCartList)
                                        {
                                            <tr class="text-secondary">
                                                <td>

                                                    @if (item.Product.ProductImageUrl != null)
                                                    {
                                                        <img src="~/@item.Product.ProductImageUrl" class="rounded-circle" height="30px" width="30px" />
                                                    }
                                                    else
                                                    {
                                                        <img src="~/images/defaultimages/defaultuserimage.jpg" class="rounded-circle" height="30px" width="30px" />
                                                    }
                                                    @item.Product.ProductName
                                                </td>
                                                <td>@item.Quantity</td>
                                                <td>@item.Product.Price</td>
                                                <td>@item.Product.Unit</td>
                                                <td>@(item.Quantity * item.Product.Price)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <div class="text-end">
                                    <h6 class="text-success">Total: Rs @Model.Orders.OrderTotal</h6>

                                    @if (Model.ShoppingCartList.Any())
                                    {
                                        <button type="submit" class="btn btn-sm btn-primary">Place Order</button>

                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

