@model Kheti.ViewModels.ShoppingCartVM


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Summary</title>    
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <style>

    </style>
</head>

<body>
    

    <h5 class="text-center mt-2">My Shopping Cart</h5>
    <div class="container small_grey_text_css mt-4">
        <div class="row rows">
            <div class="col-sm-12 col-md-9">
                @foreach (var item in Model.ShoppingCartList)
                {
                    <div class="d-flex justify-content-around align-items-center">
                        <div class="m-0 d-flex flex-column">
                            <img src="@item.Product.ProductImageUrl" class="product-image m-2" />
                            <p class="title d-flex justify-content-center align-items-center fw-bold">@item.Product.ProductName</p>
                        </div>

                        <div class=" mb-md-2 quantity-container">
                            <a asp-action="DecreaseCount" asp-controller="Cart" asp-route-itemid="@item.ShoppingCartId" data-ajax="true" data-ajax-complete="count" class="quantity-btn"><i class="bi bi-dash"></i></a>
                            <input type="number" id="quantity-Input" class="p-0 m-0" value="1" min="1" />
                            <a asp-action="AddCount" asp-controller="Cart" asp-route-itemid="@item.ShoppingCartId" data-ajax="true" data-ajax-complete="count" class="quantity-btn"><i class="bi bi-plus"></i></a>
                        </div>
                        <div class="">
                            <p class="m-0">@item.Product.Price</p>
                            <p>x @item.Quantity</p>
                        </div>
                        <div class="del-btn mb-4 pt-2">
                            <a asp-controller="Cart" asp-action="RemoveCart" asp-route-cartId="@item.ShoppingCartId" data-ajax="true" data-ajax-complete="deletepage">
                                <i class="fs-4 bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </div>
                    <hr class="m-0 p-0" />
                }
            </div>
            <div class="col-sm-12 col-md-2 checkout-div">
                <p>Total: Rs @Model.Order.OrderTotal</p>
                <a class="btn checkout-btn" asp-action="CartSummary">Checkout</a>
            </div>
        </div>
    </div>    
    <script>

        deletepage = function () {
            location.reload();
        }

        count = function () {
            location.reload();
        }
    </script>   
    
</body>
</html>
