@model IEnumerable<ProductComment>

    @foreach (var comment in Model)
    {
        <div class="col-md-4 bg-light p-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-3 align-content-center">
                        @if (comment.User?.ProfilePictureURL != null)
                        {
                            <img src="~/@comment.User.ProfilePictureURL" height="60px" width="60px" />
                            <p class="align-self-center">@comment.User.FirstName @comment.User.LastName</p>
                            <p class="align-self-center">@comment.CommentDate.ToString("yyyy-MM-dd")</p>
                        }
                        else
                        {
                            <p class="mt-2">No profile picture available</p>
                        }

                    </div>
                    <p style="max-width:420px;" class="ellps" title="@comment.CommentText">@comment.CommentText</p>
                </div>
            </div>

            <!-- Display Replies -->
            <div id="replies_@comment.Id" class="repliesSection">
                @Html.Partial("_RepliesPartial", comment.Replies)
            </div>

            @if (User.IsInRole(StaticDetail.SellerRole))
            {
                <!-- Form for adding reply -->
                <form class="replyForm">
                    <input type="hidden" class="commentId" value="@comment.Id" />
                    <textarea class="replyText p-2" rows="2" cols="50" placeholder="Write a reply"></textarea><br />
                    <button type="button" class="submitReply btn btn-sm purple-background text-white">Reply</button>
                </form>
            }
        </div>

        

    }

