@model ShoppingCart

@{
    ViewData["Title"] = "Details";
}


<style>

</style>

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<form method="post" asp-action="Details">

    <input hidden asp-for="ProductId" />

    <div class="container mt-4 mb-4  justify-content-center align-items-center position-relative">
        <div class="fs-6">
            <a asp-action="Index" class="mt-4 mb-4 text-md-start small_grey_text_css text-decoration-none gap-3"><i class="bi bi-arrow-left pe-2 back-icon"></i>Back To Home</a>
        </div>

        <div class="row d-flex gap-5">
            <div class="col-md-5">
                <img src="~/@Model.Product.ProductImageUrl" alt="@Model.Product.ProductName" height="375px" width="100%">
            </div>
            <div class="col-sm-12 col-md-5 mt-0 pt-0 small_grey_text_css text d-flex flex-column justify-content-center">
                <h3 class="text-success mb-4 mt-md-2">@Model.Product.ProductName</h3>
                <p class="small_grey_text_css mb-1">Category: @Model.Product.Category.Name</p>
                <p class="small_grey_text_css mb-1">Price: Rs @Model.Product.Price</p>
                <p class="small_grey_text_css mb-2">Unit: @Model.Product.Unit</p>
                <p class="small_grey_text_css mb-2">Stock: @Model.Product.IsInStock</p>
                <p class="small_grey_text_css mb-1">@Model.Product.ProductDescription</p>
                <p class="small_grey_text_css mb-1">Average Rating:<span class="fs-6 ms-2 text-success">@ViewData["AverageRating"] / @ViewData["TotalRating"]</span></p>
                @* <p class="small_grey_text_css mb-1">Total Rating:<span class="fs-6 ms-2 text-success">@ViewData["TotalRating"]</span></p> *@

                <div class="d-flex align-items-center gap-2">
                    <label class="" for="quanitty">Add Quantity</label>
                    <input asp-for="Quantity" type="number" min="1" value="1" />
                    <button type="submit" class="favorite-btn" asp-controller="Customer" asp-action="AddToFavorite" asp-route-ProductId="@Model.Product.ProductId"><i class="favorite-icon fs-3 bi bi-heart-fill ms-4"></i></button>
                </div>
                @if (User.IsInRole(StaticDetail.CustomerRole) || User.IsInRole(StaticDetail.AdminRole))
                {
                    <button type="submit" class="btn btn-sm btn-success w-100 mt-3">Add To Cart</button>
                    <a asp-action="Index" class="signup_btn btn-sm continue mt-2 text-center">Buy Now</a>
                }
                else
                {
                    <button type="submit" class="btn btn-success w-100 mt-5 disabled">Add To Cart</button>
                }

            </div>
        </div>
        <hr class="text-secondary" />

        @* Reviews Section *@
        <p class="text text-center fw-bold text-success mt-4">Product Reviews</p>

        @if (Model.Product.Reviews.Count > 0)
        {
            <div class="row review p-2 bg-light">

                <div class="grey_line"></div>

                @{
                    int reviewCount = 0;

                    @foreach (var reviews in Model.Product.Reviews)
                    {
                        <div class="col-md-4 mb-2">
                            <div class="card review-card">
                                <div class="card-body">
                                    <div class="d-flex gap-3 align-content-center">
                                        @if (reviews.User?.ProfilePictureURL != null)
                                        {
                                            <img src="~/@reviews.User.ProfilePictureURL" height="60px" width="60px" />
                                            <p class="align-self-center">@reviews.User.FirstName @reviews.User.LastName</p>
                                        }
                                        else
                                        {
                                            <p class="mt-2">No profile picture available</p>
                                        }

                                    </div>
                                            <p>@reviews.DateReviewed.ToShortDateString()</p>
                                    <div class="stars-container mb-3">
                                        @for (int i = 0; i < reviews.Rating; i++)
                                        {
                                            <i class="bi bi-star-fill fs-6 m-0 p-0 rated" data-rating="1"></i>
                                        }
                                        @for (int i = reviews.Rating; i < 5; i++)
                                        {
                                            <i class="bi bi-star-fill fs-6 m-0 p-0" data-rating="1"></i>
                                        }

                                    </div>
                                    <p class="card-text ellps">@reviews.Comment</p>
                                </div>
                            </div>
                        </div>
                        reviewCount++;

                        if (reviewCount >= 6)
                        {
                            break;
                        }
                    }

                    <!-- Button trigger modal -->
                    <div class="ms-1">
                        <button style="width:100px;font-size:10px" type="button" class="btn btn-sm btn-primary purple-background text-white" data-bs-toggle="modal" data-bs-target="#AllReview">
                            View All Reviews
                        </button>
                    </div>

                }
            </div>
        }
        else
        {
            <p class="text-center">No Reviews</p>
        }


        <!-- Comment Section -->
        @if (User.IsInRole(StaticDetail.CustomerRole))
        {
            <h6 class="text-success mt-5">Leave your questions below</h6>
        }
        else
        {
            <h6 class="text-success mt-5">Comment of Users</h6>
        }
        <div class="row d-flex flex-column mt-2 comment-section bg-light">
                    @Html.Partial("_CommentsPartial", Model.Product.ProductComments)
        </div>
        @if (User.IsInRole(StaticDetail.CustomerRole))
        {
            <form id="commentForm">
                <textarea class="p-2 mt-2" id="commentText" rows="2" cols="50" placeholder="Write a comment..."></textarea><br />
                <button id="submitComment" class="btn btn-sm purple-background text-white" type="button">Comment</button>
            </form>
        }
    </div>
</form>
@Html.Partial("_AllReview.cshtml")

<script>
    $(document).ready(function () {
        // Submit new comment
        $("#submitComment").click(function () {
            var productId = "@Model.Product.ProductId";
            var commentText = $("#commentText").val();

            $.ajax({
                type: "POST",
                url: "/Customer/SubmitProductComment",
                data: { productId: productId, commentText: commentText },
                success: function (result) {
                    $('#commentsSection').html(result);
                    $("#commentText").val("");
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        $(".submitReply").click(function () {
            var commentId = $(this).siblings(".commentId").val();
            var replyText = $(this).siblings(".replyText").val();

            var clickedButton = $(this);

            $.ajax({
                type: "POST",
                url: "/Customer/SubmitProductReply",
                data: { commentId: commentId, replyText: replyText },
                success: function (result) {
                    $('#replies_' + commentId).html(result);
                    clickedButton.siblings(".replyText").val("");
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });

    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>