@model List<Kheti.Models.Favorite>

@{
    ViewData["Title"] = "Favorite Listing";
}

<style>
    .product-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    p {
        font-size: smaller;
        color: dimgray
    }

    .btn {
        font-size: 10px;
    }
</style>


<div class="container">
    <h5 class="text-dark">Favorite Products</h5>


    @if (Model.Count == 0)
    {
        <p>No favorite products found.</p>
    }
    else
    {
        <div class="row">
            @foreach (var favorite in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="~/@favorite.Product.ProductImageUrl" class="product-image m-2 rounded-circle" />
                        <div class="card-body">
                            <h6 class="card-title">@favorite.Product.ProductName</h6>
                            <p class="card-text mb-1">Price: @favorite.Product.Price</p>
                            <p class="card-text mb-1">Desc: @favorite.Product.ProductDescription</p>
                            <p class="card-text mb-1">Category: @favorite.Product.Category.Name</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group d-flex gap-4">
                                    <!-- Form to add product to cart -->
                                    <form method="post" asp-action="AddToCartFromFavorites" asp-controller="Customer">
                                        <input type="hidden" name="productId" value="@favorite.ProductId" />
                                        <input type="hidden" name="quantity" value="1" />
                                        <button type="submit" class="btn btn-sm btn-success "><i class="bi bi-cart-dash fs-5 text-white "></i></button>
                                    </form>

                                    <!-- Form to remove product from favorites -->
                                    <form asp-action="DeleteFromFavorite">
                                        <input type="hidden" name="id" value="@favorite.ProductId" />
                                        <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill fs-5 text-white"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
