@model IEnumerable<Kheti.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
@* <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" /> *@

<style>
    .pimage {
        width: 100%; 
        height: 150px; 
        object-fit: fill; 
    }

   
</style>

<body>

    @* Search Section *@
    <div class="text-end gap-0">
        <form method="get" asp-action="Index" asp-controller="Customer">
            <input class="search-input" type="text" name="searchInput" placeholder="Search products...." class="" />
            <button type="submit" class="btn btn-sm search-btn purple-background text-white">Search</button>
        </form>
    </div>

    <!-- product section -->    
    <div class="container-fluid">

        <p class="text text-center fw-bold mt-0">Our Products</p>
        <div class="grey_line"></div>       

        <!-- displaying products in grid -->
        <div class="container-fluid mt-3">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 mt-3">                
                @foreach (var product in Model)
                {
                    <div class="col pb-4 mb-0">
                        <div class="card border-0 pb-0 mb-0">
                            <div class="">
                                <img class="pimage" src="@product.ProductImageUrl" alt="@product.ProductId" />
                             </div>
                            
                            <div class="card-body text-center pb-0 mb-0">
                                <p class="mb-0 small_grey_text_css">@product.ProductName</p>
                                @* <p class="card-text mb-0"> @product.ProductDescription</p> *@
                                <p class="small_grey_text_css mb-2">Rs: @product.Price</p>
                                <a class="btn btn-success w-100" asp-controller="Customer" asp-action="Details" asp-route-id="@product.ProductId">View Details</a>                        
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</body>
